################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

**/obj
**/bin

**/.vs
output/
Distribute/

# DlcUnlockPatcher 原生代理构建产物
DlcUnlockPatcher/build/
DlcUnlockPatcher/dist/
DlcUnlockPatcher/*.zip
